.home-page {
  &__title {
    color: red;
    font-family:'Courier New', Courier, monospace
  }


  &__products {
    display: flex;
    flex-direction: column;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
